<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="DataMining" connectionString="Data Source=home\sqlexpress;Initial Catalog=DataMining;Integrated Security=SSPI;Timeout=180"/>
	</connectionStrings>
	<appSettings>
		<add key="train" value="G:\DataMining\NaiveBayesianClassifier\NaiveBayesianClassifier\DataFiles\credit.train"/>
		<add key="test" value="G:\DataMining\NaiveBayesianClassifier\NaiveBayesianClassifier\DataFiles\credit.test"/>
	</appSettings>
</configuration>